# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Data and Models
datasets/raw/
datasets/processed/
datasets/external/
models/trained_models/
models/checkpoints/
*.csv
*.json
*.xlsx
*.db
*.sqlite

# OS
.DS_Store

# Logs
logs/
*.log

docs/reports/
